<h1>Edit <%= @cocktail.name %> </h1>

<div class="pull-right">
<%= link_to 'Show', @cocktail, class: "btn btn-primary"%>
<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
 </div>
<%= render 'form', cocktail: @cocktail %>



