<!-- <p id="notice"> <%#= notice %> </p> -->
<div class="container">
<h1>Cocktails</h1>
  <div class="row">

    <% @cocktails.each do |cocktail|  %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= cocktail.picture  %>" alt="" width="242px" height="200px">

        <%#= image_tag(cocktail.picture, :alt => cocktail.name, :style => "height: 300px;") %>


        <div class="caption text-center">
          <h3><%=cocktail.name  %></h3>
          <p>Write a description</p>
          <p> <%= link_to 'Show', cocktail, class: "btn btn-primary" %> </p>
        </div>

      </div>
    </div>
    <% end %>


  </div>
</div>



