<!-- <p id="notice"> <%#= notice %> </p> -->

<!-- <div>
<%#= cl_image_tag('w3awmncbh3mzgscmukra', crop: :fill) %>
</div> -->


<!--
<div class="banner" style="background-image:url('<%#= cl_image_tag('w3awmncbh3mzgscmukra', crop: :fill) %>') ;">
<div class="">
<h1 class="">Cocktail Recipes</h1>
<p> There's a drink for every mood or occasion. Find your favorite cocktail recipes below. Or think outside the glass and try a brand new drink. Your new favorite could be a shake or stir away.
</p> -->


<%#= cl_image_tag('w3awmncbh3mzgscmukra', crop: :fill) %>
<%#=image_tag("1.jpg", alt: "Example Image")%>
<div class="banner">
  <div class="banner-content">
    <h1>Cocktail Recipes</h1>
    <p>There's a drink for every mood or occasion. Find your favorite cocktail recipes below. Or think outside the glass and try a brand new drink. Your new favorite could be a shake or stir away.</p>
  </div>
</div>



<div class="container">
<br>
  <div class="row">


    <% @cocktails.each do |cocktail|  %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">


        <!-- <img src="<%#= cocktail.picture  %>" alt="cocktail.name" width="242px" height="200px"> -->

        <%# Cloudinary %>
        <%= cl_image_tag cocktail.picture.url(:standard), height: 300, width: 300, crop: :fill %>
        <%#= cl_image_tag cocktail.picture, height: 300, width: 300, crop: :fill %>

        <%#= image_tag(cocktail.picture, :alt => cocktail.name, :style => "height: 300px;") %>

        <div class="caption text-center">
          <h3><%=cocktail.name  %></h3>
          <!-- <p>Write a description</p> -->
          <p> <%= link_to 'Show', cocktail, class: "btn btn-primary" %> </p>
        </div>

      </div>
    </div>
    <% end %>

  </div>
</div>



